:root {
  --green: rgb(0,177,120);
  --green-op: rgb(0,177,120,0.5);
  --orange: rgb(255,152,44);
  --yellow: rgb(255,227,59);
  --yellow-op: rgb(255,227,59, 0.3);
  --blue: rgb(0,73,97);
  --white-op: rgb(253, 254, 255, 0.5);
}
.nav-bar-main {
  height: 100%;
  background-color: var(--white-op) !important;
  box-shadow: 0px 2px 10px 3px rgb(119, 153, 131);
  border: 0px 2px solid var(--blue);
  max-width: 225px !important;
  /* width: 225px !important; */
  flex-basis: 225px !important;
}

.nav-bar-main ul,li {
  background-color: var(--white-op) !important;
  color:rgb(47, 103, 60);
  font-weight: bolder;
  margin-top: 0 !important;
  

}
.navbar-menu-items {
  /* padding-left: calc(50% - 16px) !important;
  padding-right: calc(50% - 16px) !important; */
}

.nav-bar-icons li{
  line-height: 64px !important;
  height: 64px !important;
  font-size: x-large !important;
}

.nav-bar-icons span {
  font-size: x-large !important;
}