.card-container {
  /* padding: 0em 8rem; */
  justify-content: space-evenly;
  margin: 4rem 2rem !important;
}

.individual-cards {
  /* background-color: black; */
}

.ant-card-cover {
  border: 1.75em white solid;
}

.ant-card-body {
  padding-top: 0px !important;
  /* font-family: 'Shadows Into Light Regular'; */
}