.custom-body {
  font-size: x-large !important;
  display: flex;
  margin: 10rem 25rem  5rem 25rem;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0rem;
}

.name {
  font-size: 7rem;
  margin:0px;
  background-color:  rgb(23,42,66) ;
  color: rgb(224,156,150);
  border-right: 5px solid rgb(48,70,114);
  border-bottom: 5px solid rgb(224,156,150);
  padding: 2rem;
  line-height: 7rem;

}

.title {
  font-size: 3rem;
  align-self:auto;
  line-height: 1.5rem;
  margin-top: 2rem;
  color:rgb(23,42,66);
}


/* coral rgb(224,156,150)
lgiht blue rgb(84,112,162)
medium blue rgb(48,70,114)
darkest blue rgb(23,42,66) */
